<table>
  <thead>
  <tr>
    <th><%= Comment.human_attribute_name(:content) %></th>
    <th><%= User.human_attribute_name(:name) %></th>
    <th><%= Comment.human_attribute_name(:created_at) %></th>
  </tr>
  </thead>

  <tbody>
  <% comments.each do |comment| %>
  <tr>
    <td><%= comment.content %></td>
    <td><%= comment.user.name.blank? ? comment.user.email : comment.user.name %></td>
    <td><%= comment.created_at.strftime("%Y-%m-%d %H:%M") %></td>
    <% if current_user == comment.user %>
      <td><%= link_to t('views.common.destroy'), polymorphic_path([commentable, comment]), method: :delete, data: { confirm: t('views.common.delete_confirm') } %></td>
    <% end %>
  </tr>
  <% end %>
  </tbody>
</table>
